@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Roboto;
}

ul, h1, h2, h3, p, button {
    padding: 0px;
    margin: 0px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.header_section {
    background-color: #1F2937;
    padding-top: 10px;
    padding-bottom: 80px;
    padding-left: 300px;
    padding-right: 300px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.link {
    font-size: 18px;
    color: #E5E7EB;
}

.nav {
    display: flex;
    padding-bottom: 70px;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
}

.nav-left {
    margin-right: auto;
}

.main_title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.subtext, .image_header {
    font-size: 18px;
    color: #E5E7EB;
}

.button_header {
    border-radius: 5px;
    border-style: none;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 10px 50px;
}

.content {
    display: flex;
}

.content-left, .content-right {
    flex: 1;
    display: flex;
}

.content-left {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.content-right {
    justify-content: center;
    align-items: center;
    background-color: rgb(110, 116, 124);
}

.information_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 80px;
    padding-left: 300px;
    padding-right: 300px;
}

.information_text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.image_subtext_container {
    display: flex;
    margin-top: 50px;
    gap: 30px;
}

.image {
    width: 150px;
    height: 150px;
    border-style: solid;
    border-radius: 10px;
    border-color: #3882F6;
}

.image_subtext {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.information_subtext {
    padding-top: 10px;
}

.quote_section {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 300px;
    padding-right: 300px;
}

.quote_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.signature {
    align-self: flex-end;
}

.action_section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 375px;
    padding-right: 375px; 
}

.blue {
    flex: 1;
    display: flex;
    background: #3882F6;
    border-radius: 10px;
    padding: 40px 70px;
}

.action_call {
    margin-right: auto;
}

.button_action {
    border-radius: 5px;
    border-style: solid;
    border-color: #E5E7EB;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 10px 50px;
}

.call, .call_text {
    color: #E5E7EB;
}